*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: montserrat;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-image: linear-gradient(150deg,#3498db,#03ac13);
  animation-name: error;
  animation-duration: 1s;
  animation-iteration-count: 10;
}

@keyframes error{
  50% {background-image: linear-gradient(150deg,#FF0000,#FFCC00);}
}

.glow {
  text-decoration: none;
  font-family: montserrat;
  font-size: 30px;
  color: white;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
      from {
        text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
      }

      to {
        text-shadow: 0 0 20px #00ff00, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
}

.headerrr{
  height: 80px;
  background-color: #000000;
}

.header_textt{
    padding-top: 20px;
    text-align:center;
    font-family: montserrat;
    font-size: 12;
    text-align:center;
}

.logfor{
  width: 580px;
  background: #f1f1f1;
  height: 400px;
  padding: 70px 50px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.txtb{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb p{
  font-size: 20px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 3px;
  height: 35px;
}
